<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<div class="weather-elements-wrapper">
  <form class="city-form" [formGroup]="locationGroup">
    <div class="input-group">
      <label for="city" class="sr-only">Enter city name</label>
      <input
        formControlName="location"
        type="text"
        id="city"
        name="city"
        class="form-control"
        (input)="onSearchLocation($event, location.value)"
        [required]="true"
        placeholder="Enter city name"
        aria-label="Enter city name"
        data-cy="cityName"
      />
      <button
        type="submit"
        class="btn btn-primary"
        (click)="onSubmit($event, locationGroup)"
        tabindex="0"
        data-cy="submitCity"
      >
        Search
      </button>
    </div>
    <div *ngIf="location.invalid && (location.dirty || location.touched)">
      <small *ngIf="location?.errors?.['required']" class="text-danger">
        City name is required.
      </small>
    </div>
  </form>

  <div
    data-cy="weatherDisplay"
    class="weather-info"
    role="region"
    aria-live="polite"
  >
    <div class="weather-widget-row">
      <div *ngIf="WeatherData.isDay">
        <i class="fas fa-3x fa-sun sun" aria-label="Sun icon"></i>
      </div>
      <div *ngIf="!WeatherData.isDay">
        <i class="fas fa-3x fa-moon moon" aria-label="Moon icon"></i>
      </div>
      <div *ngIf="WeatherData.hasClouds" class="cloud-wrapper">
        <i class="fas fa-cloud fa-3x cloud" aria-label="Cloud icon"></i>
      </div>
      <div class="temperature">{{ WeatherData.temp_celcius }}°</div>
      <div>{{ WeatherData.temp_min }}° / {{ WeatherData.temp_max }}°</div>
      <div>Feels Like: {{ WeatherData.temp_feels_like }}°</div>
      <div class="city-name">
        {{ WeatherData.name }}
      </div>
      <div>Humidity: {{ WeatherData.humidity }}%</div>
    </div>
  </div>
</div>
