#div-weather-main {
  display: block;
  border-radius: 10px;
  width: 200px;
  height: 220px;
  background: rgb(0 0 0);
  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 100%) 0%,
    rgb(8 7 42 / 100%) 75%,
    rgb(8 10 63) 100%
  );
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.weather-widget-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
}

.temperature {
  font-size: 2rem;
  margin-top: 1rem;
}

.city-name {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.sun {
  margin-top: 10px;
  color: yellow;
  filter: drop-shadow(1px 1px 10px yellow);
}

.moon {
  margin-top: 10px;
  color: white;
  filter: drop-shadow(1px 1px 10px white);
}

.cloud-wrapper {
  margin-top: -40px;

  .cloud {
    color: rgb(104 175 197);
    filter: drop-shadow(1px 1px 5px rgb(104 175 197));
    animation-name: cloud-movement;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }
}

@keyframes cloud-movement {
  from {
    margin-left: -50px;
  }

  to {
    margin-left: 65px;
  }
}
